#LUPIN{
    font-family:Crimson Text; 
    font-size: 45px;
    color:black;;
    text-shadow:2px 2px 2px bisque;;
    text-align: center;
    padding-right: 4px;
    height:100px;
    padding: 12px;
    box-sizing: border-box;
    position:relative; 
    transition: all 2s;
    transition: transform 2s,color 3s;
    }

#LUPIN:hover{
        transform: scale(1.1,1.2);
        color: rgb(226, 167, 90);
   
       }    
#principio{

    width: auto;
    height: 100px;
    padding-bottom: 15px;
    background-color: rgb(240, 204, 160);
}
body{

    background-color: rgb(240, 204, 160);
    margin-top: 6%;
}

#botonera {
    background-color: burlywood;
    font: bold 90% monospace;
    font-size: 20px;
}  

#logo{
    border: 6px solid;
    color: bisque;
    background-position:center;
    height: 100px;
    display: inline-block;
    margin-top: -11px;
    margin-bottom: 6px;
    float: unset;
    box-sizing: border-box;
    transform: rotateZ(90deg);

}
#salon{
    border: 8px solid; 
    color: black;
    background-position: center;
    width: 65%;
    background-size: cover;
    background-color: rgb(240, 204, 160);
    margin-bottom: 6px;
     

}
#foto{

    background-color: rgb(240, 204, 160);
    
}
#pie ul   a {

    color:rgb(4, 113, 177);
    font: bold 90% monospace;
    font-size: 15px;
    
}


#opciones{

background-color: bisque;
text-align: center;

}
#foto{

    text-align: center;
    background-color: rgb(240, 204, 160);
    margin-top: -8px;
     
     
}

#agrego{

    background-color: white;
}
#final{

    text-align: center;
    background-image: linear-gradient(to bottom,rgb(240, 204, 160), white );
}

#H3,H4,H2,h1{

    text-align: center;
    background-color: rgb(240, 204, 160);
}

/*Menu*/
#menu{
    font:bold 90% monospace;
    font-size: 35px;
    color: black#166083c5;
    text-align: center;
     

}

#uno{

    background-color:  rgb(240, 204, 160);
    margin-top: -8px;
}
#table,tr, td {
	border: 1px solid black;
    font: bold 100% monospace;
    font-size: 15px;
    color: black#116a94c5;
    text-align: center;
    line-height: 15px
    
    
}
#dos{

    text-align: center;
    background-color: rgb(240, 204, 160) ;
}
#imageen{
    border: 2px solid; 
    color: bisque;
    margin-top: -4px;
    background-position: bottom center;
    width: 30%;
    animation-name: latido;
    animation-iteration-count: infinito;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    animation-delay: 0s;  
    margin-bottom: 10px;

}

@keyframes  latido{

    0%{width: 400px;}
    20%{width: 500px;}
    40%{width:600px;}
    60%{width: 700px;}
    80%{width:800px;}
   
}
#uno{
    text-align: center;
    overflow: hidden;
    height: auto;
    width: auto;
    display:flex; 
    flex-direction:inherit;
   
}
/*Reserva*/

#reserva{
    font:bold 90% monospace;
    font-size: 35px;
    color: black#166083c5;
    text-align: center;
    margin-top: -11px;
    

}

#tres{

    background-color:  rgb(240, 204, 160);
    margin-top: -24px;
    margin-bottom: -8px;
}
#formulario{
    border: 1px solid black;
    font: bold 100% monospace;
    color: white;
    font-size: 15px;
    background-color: rgb(240, 204, 160);
    

}
#cuatro{

    text-align: center;
    background-color:rgb(240, 204, 160);
    background-image: url(imagenes/mesa.jpg);
    border: 4px solid  rgb(240, 204, 160);
    background-repeat:  round;
}
/*Nosotros*/
#info{
    font: bold 90% monospace;
    font-size: 35px;
    color: black#166083c5;
    text-transform: capitalize;
    margin-top: -24px;

}
#Historia{
    font: bold 90% monospace;
    font-size: 20px;
    color: black#096b999c;
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(240, 204, 160);
    height: auto;
     

}
#imgcar{

    width: 100%;
    height: 600px;
}

#platouno{
        border: 4px solid; 
        color: bisque;
        background-position: bottom center;
        width: 5%;
        background-size: cover;
        box-sizing: border-box;
        margin-top: -20px;
       
}

#platotres{

        border: 4px solid; 
        color: bisque;
        background-position: bottom center;
        width: 5%;
        background-size: cover;
        box-sizing: border-box;
        margin-top: -16px;
}

#platocuatro{

        border: 4px solid; 
        color: bisque;
        background-position: bottom center;
        width: 5%;
        background-size: cover;
        box-sizing: border-box;
        margin-top: -16px;
}

#platosiete{

    border: 4px solid; 
    color: bisque;
    background-position: bottom center;
    width: 5%;
    background-size: cover;
    box-sizing: border-box;
    margin-top: -16px;
    
}


/*Contacto*/
#send{
    font: bold 90% monospace;
    font-size: 35px;
    color: black#166083c5;
    text-align: center;
    background-color: rgb(240, 204, 160);
    margin-top: -5px;
    
}

#contacto{
    font: bold 90% monospace;
    font-size: 15px;
    color: black#096b999c;
    background-color:  rgb(240, 204, 160);
}

#btnbtn-primary{
    font-size: 15px;
    background-color: bisque;

}

#seis{

    text-align: center;
    width: 800px;
    margin: auto;
    max-width: 100%;
    margin-top: 5px;
    padding: 20px;
    position: relative;
    font-size: 10px;
    background-color:  rgb(240, 204, 160);
    margin-top: -2px;
}


#mostrar{

    text-align: center;
    background-color:  rgb(240, 204, 160);
}

#amigos{
    border: 2px solid; 
    color: bisque;
    background-position: bottom center;
    width: 25%;
    background-size: cover;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 6px;
}

#barra{
    border: 2px solid; 
    color: bisque;
    background-position: bottom center;
    width: 25%;
    background-size: cover;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 6px;
}

#pareja{
    border: 2px solid; 
    color: bisque;
    background-position: bottom center;
    width: 25%;
    background-size: cover;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 6px;

}

@media only screen and (min-width: 320px) and (max-width: 768px){

    #navjustify-content-center{

            width: 80%;
            height:auto;
            position: fixed;

    }
    
    #dropdown-menu{

        width: 80%;
        height:auto;
        position: fixed;
    }
}

